.Sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  max-width: 100%;
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px
}

.items {
  margin-top: 70px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  margin-left: 20px;
}

.collapseBtn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  //background: var(--secondary-color);
  border: 1px var(--primary-color) solid;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  max-width: 100%;

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }
}
