.app_blue_theme {
  --bg-color: #FDFDFD;
  --inverted-bg-color: #365B61;
  --primary-color: #191919;
  --secondary-color: #365B61;
  --inverted-primary-color: #FDFDFD;
  --inverted-secondary-color: #717171;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #F3F1F1;

  // listbox
  --listbox-bg: #F3F1F1;
}
